In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Spark").getOrCreate()

In [3]:
spark

In [4]:
sdf = spark.read.json('./Data/people.json')

In [5]:
sdf.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
sdf.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
sdf.columns

['age', 'name']

In [8]:
sdf.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
sdf.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [11]:
data_schema = [StructField(name='age', dataType=IntegerType(), nullable=True),
               StructField(name='name', dataType=StringType(), nullable=True)]

In [12]:
new_schema = StructType(fields=data_schema)

In [13]:
sdf = spark.read.json(path='./Data/people.json', schema=new_schema)

In [14]:
sdf.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [15]:
type(sdf['age'])

pyspark.sql.column.Column

In [16]:
sdf.select('age')

DataFrame[age: int]

In [17]:
sdf.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
sdf.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [19]:
sdf.head(2)[0]

Row(age=None, name='Michael')

In [20]:
type(sdf.head())

pyspark.sql.types.Row

In [21]:
sdf.select(['name', 'age']).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [22]:
sdf.withColumn('new_age', sdf['age']).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     30|
|  19| Justin|     19|
+----+-------+-------+

In [23]:
sdf.withColumnRenamed('age', 'old_age').show()

+-------+-------+
|old_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

Creating a temporary **view** like **SQL**

In [24]:
sdf.createOrReplaceTempView('people')

We can write **SQL queries** for view

In [25]:
view = spark.sql('SELECT * FROM people')

In [26]:
view.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
spark.sql('SELECT * FROM people WHERE age > 20').show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+